<div id="url-debug-message" class="row mt-3 d-none">
    <div class="col">
        <div class="alert alert-warning my-0" role="alert">
            <h5><i class="fas fa-exclamation-triangle"></i> 需要操作</h5>
            <strong>问题：</strong>
            当前站点的根路径为 "<code class="root-path-text"></code>"，
            与 <code>_config.yml</code> 中配置的 <code>baseurl</code>（"<code>{{ site.baseurl }}</code>"）不一致。
            <br>

            <strong>解决方案：</strong>
            请将 <code>_config.yml</code> 中的 <code>baseurl</code> 设置为 "<code class="root-path-text"></code>"。
        </div>
    </div>
</div>

<script>
striped_pathname = location.pathname.replace(/\/+$/, "").replace(/\/index\.html$/, "").replace(/\/+$/, "");
if(striped_pathname != "{{ site.baseurl }}"){
    document.getElementById("url-debug-message").classList.remove('d-none');
}
document.querySelectorAll(".root-path-text").forEach(function(element){
    element.textContent = striped_pathname;
});
</script>
