<div id="ghpages-domain-debug-message" class="row mt-3 d-none">
    <div class="col">
        <div class="alert alert-warning my-0" role="alert">
            <h5><i class="fas fa-exclamation-triangle"></i> 警告</h5>
            <strong>问题：</strong>
            当前 GitHub Pages 仓库名（"<code class="repo-name-text"></code>"）与推荐的仓库名（"<code class="domain-name-text"></code>"）不一致。
            <br>
            <strong>解决方案：</strong>建议将仓库重命名为 "<code class="domain-name-text"></code>"，以便站点可直接通过 "<code>http://<span class="domain-name-text"></span></code>" 访问。
            若当前仓库名是有意为之，可在 <code>index.html</code> 中删除 <code>{% raw %}{% include widgets/debug_repo_name.html %}{% endraw %}</code> 以关闭此提示。
        </div>
    </div>
</div>

<script>
striped_pathname = location.pathname.replace(/\/+$/, "").replace(/\/index\.html$/, "").replace(/\/+$/, "");
document.querySelectorAll(".repo-name-text").forEach(function(element){
    element.textContent = striped_pathname.replace("/", "");
});
document.querySelectorAll(".domain-name-text").forEach(function(element){
    element.textContent = location.hostname;
});

if (location.hostname.search("github.io") != -1 && striped_pathname != ""){
    document.getElementById("ghpages-domain-debug-message").classList.remove('d-none');
}
</script>
